*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background.png);
    padding: 2% 10%;
}

.container{
    display: flex;
    width: 100%;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* aside */

aside{
    width: 40%;
    border: 1px solid gray;
}

/* profilo */

.profilo{
    display: flex;
    align-items: center;
}

.circle{
    width: 15%;
    border-radius: 50%;
    margin: 10px;
}

.container aside header  .profilo i{
    display: flex;
    justify-content: right;
    margin: 10px;
    color: gray;
}

/* notifiche */

.notifiche{
    padding: 10px;
    background-color: lightskyblue;
}

.notifiche i{
    color: lightskyblue;
    background-color: #fff;
    padding: 10px;
    text-align: center;
}

.underline{
    margin-left: 78px;
}

/* search */

.search{
    margin: 5px;
    color: gray;
}

.search button{
    padding: 5px 10px;
}

.search input{
    width: 88%;
    height: 29px;
}

/* contatti  */

.contatti{
    overflow-y: auto;
}

.utente{
    display: flex;
    align-items:flex-start;
}

.utente span{
    margin-top: 15px;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.chat{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 200px);
    width: 100%;
    overflow-y: auto;
}

/* input */

/* .input{
    display: flex;
    justify-content: flex-end;
} */

.input button, .input input{
    margin: 5px 0;
}

.input button{
    padding: 10px;
}

.input input{
    padding: 10px;
    width: 840px;
}

/* colori */

.cyan{
    background-color: #009688;
}

.whitesmoke{
    background-color: whitesmoke;
}