*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/background.png);
    padding: 2% 10%;
}

.container{
    display: flex;
    width: 100%;
    height: 95%;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* aside */

aside{
    width: 40%;
    border-right: 1px solid gray;
}

/* profilo */

.header-left{
    display: flex;
    align-items: center;
    height: 70px;
}

.profilo{
    display: flex;
    align-items: center;
}

.profilo span{
    font-size: 20px;
}

.circle{
    width: 15%;
    border-radius: 50%;
    margin: 10px;
}

.i-container i{
    margin: 10px;
    color: gray;
    font-size: 25px;
}

.i-container{
    display: flex;
    justify-content: right;
}

/* notifiche */

.notifiche{
    display: flex;
    align-items: center;
    background-color: lightskyblue;
    height: 80px;
    padding: 10px;
}

.notifiche i{
    color: lightskyblue;
    background-color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 4% 0;
}

.scritte span{
    line-height: 1.6;
}

.bold{
    font-weight: bold;
}

.underline{
    text-decoration: underline;
    color: gray;
}

/* search */

.search{
    display: flex;
    align-items: center;
    margin: 5px;
    color: gray;
    width: 100%;
    height: 70px;
}

.search i{
    font-size: 25px;
}

.search input{
    margin: 0;
    width: 92%;
    height: 60px;
    border: 0px;
}

/* contatti  */

.contatti{
    overflow-y: scroll;
    background-color: #fff;
    height: calc(100% - 220px);
}

.utente{
    display: flex;
    align-items:flex-start;
}

.utente span{
    margin-top: 15px;
}

/* main */

main{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

/* utente-attivo */

.utente-attivo{
    display: flex;
    align-items: center;
    height: 70px;

}

.utente-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.utente-container img{
    width: 8.8%;
}

/* chat */

.chat{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 140px);
    min-height: 630px;
    width: 100%;
    overflow-y: scroll;
}

.block{
    display: block;
}

.messaggio{
    margin: 5%;
    margin-bottom: 50px;
    padding: 2% 2% 0 5%;
    border-radius: 20px;
    text-align: left;
    padding: 2% 2% 0 2%;
}

.sent{
    background-color: #fff;
    float: left;
}

.received{
    background-color: lime;
    float: right;    
}

#time{
    font-size: 10px;
    float: right;
    color: gray;
    margin-bottom: 5px;
}

/* input */

.input{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.input button, .input input{
    margin: 5px 0;
    height: 50px;
    width: 50px;
}

.input button{
    font-size: 25px;
    border: 0px;
    background-color: whitesmoke;
}

.input input{
    padding: 10px;
    width: 100%;
    height: 50px;
}

/* colori */

.cyan{
    background-color: #009688;
}

.whitesmoke{
    background-color: whitesmoke;
}